bg-img($url) {
  background-image url($url + '@2x.png')
  // 当设备像素比大于3时，换用更清晰的图片(原因：高清屏幕下看图片会更模糊)
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio:3) {
    background-image url($url + '@3x.png')
  }
}
no-wrap() {
  text-overflow ellipsis // 影藏文本的溢出部分，并显示省略号
  overflow hidden
  white-space nowrap // 文本不换行
}
extend-click() {
  position relative
  &:before {
    content ''
    position absolute
    top -10px
    left -10px
    right -10px
    bottom -10px
  }
}
flex-center() {
  display flex
  justify-content center
  align-items center
}
